/*--------------------------*/
/*BASICS CONFIGURATIONS*/
/*------------------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

body {
    min-height: 100vh;

}


/*-------MARK WRAP-------*/
.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #b6cadc;
}

.section-wrapper {
    width: 25%;
    height: 100%;
    max-width: 100%;
    box-shadow: 0 3px 15px rgba(146, 101, 101, 0.35);
    background-color: #fff;

}

.mark-wrap {
    display: grid;
    padding: 20px 20px;
    background-color: #6a96d8;
    grid-template-columns: auto 250px auto;
}

.title-mark-wrap {
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.25px;
    text-transform: uppercase;
}

.img-close {
    width: 20px;
    color: #c6d6f1;
    margin-left: 5px;
}

.btn-dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    margin: 5px 0;
}

/*-------BODY WRAPPER-------*/
/*.body-wrapper {
}*/

.today-wrapper {
    display: grid;
    grid-template-columns: auto 40px auto;
    margin-right: 5px;
}

.title-today-wrap {
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
    color: #dee0e4;
}

/*.hours-msg-content-left {
    
}*/

.item-hour {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 15px;
    color: #d2c6be;
}

.item-msg, .item-msg-small {
    border: 1px solid white;
    margin-left: 15px;
    padding: 10px;
    display: inline-block;
    background-color: #e6edf6;
}

.item-msg {
    width: 68%;
}

.item-msg-small {
    width: 22%;
}

.item-msg-user {
    border: 1px solid white;
    margin-left: 15px;
    padding: 10px;
    display: inline-block;
    width: 68%;
    background-color: #ffc2c1;
}

.hr-rigth, .hr-left {
    display: block;
    content: " ";
    height: 1px;
    width: 80%;
    color: #dee0e4;
    background-color: #dee0e4;
    margin: 26px 20px 5px 15px; 
}

.hours-msg-content-right {
    /*position: absolute;
    top: 55%;
    left: 43%;
    margin-bottom: 10px;
    transform: translate(-20%, -20%);*/
}

.submit-input-wrap {
    display: grid;
    padding: 15px 15px;
    background-color: #fff;
    grid-template-columns: 1fr 48px;
}

.input-msg {
    color: #928e8b;
}

.item-msg-send {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.25px;
    color: #90b5e4;
    font-size: 12px;
}

.hr-hori {
    display: block;
    content: " ";
    height: 1px;
    width: 90%;
    color: #dee0e4;
    background-color: #dee0e4;
    margin-top: 10px;
    margin-bottom: 1px;
    margin-right: 18px;
    margin-left: 18px;
}